.AddStyle{
    margin-Top: 80px;
}
.container{
    margin-top:-20px;
    margin-bottom: 20px;
}
.savebtn{
    margin-top: 20px;
}
.radiobtn{
    margin-bottom: 20px;
}
.selectbtn{
    margin-bottom: 20px; 
}
input:invalid{
    border: 2px solid red;
}


